## Task 1: Most people prefer houses that are at least 6000 sq feet and are corner plot houses. Write a query to fetch these rows and push them into a new table in MYSQL.

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('DS1_C4_S6_House_Prices_Data_Challenge.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [14]:
a=df.isnull().sum()
a

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [15]:
type(a)

pandas.core.series.Series

In [17]:
a[a > 0]

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [11]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
h=df[(df['LotArea'] >= 6000) & (df['LotConfig'] == 'Corner')]
h

In [ ]:
import mysql.connector as sql
db=sql.connect(host='localhost',user='root',password='12345')
cursor=db.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS Housing_prices")
db = sql.connect(host='localhost', user='root',password='12345', database='Housing_prices')
mycursor = db.cursor()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

hostname="localhost"
dbname="Housing_prices"
uname="root"
pwd="12345"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
h.to_sql('Preference1', engine, index=False) # employee details is the name of the table

In [ ]:
import mysql.connector as sql
db = sql.connect(host='localhost', user='root',password='12345', database='Housing_prices')
mycursor = db.cursor()

In [ ]:
mycursor.execute("SELECT * FROM Preference1")
for i in mycursor:
    print(i)

## Task 2: Most people seem to prefer houses that are one family and one story, preferably on flat land avoiding mountains or valleys/banks. Write a query to fetch these rows and push them into a new SQL tabel.

In [ ]:
h2=df[(df['LandContour'] == 'Lvl') & (df['HouseStyle'] == '1Story')]
h2

In [ ]:
h2.to_sql('Preference2', engine, index=False)

In [ ]:
mycursor.execute("select * from Preference2")
for i in mycursor:
    print(i)

## Task 3: Compact townhouses are hot selling properties in California. Write a query to fetch these eows and push them into a new table in sql.

In [ ]:
# neighborhood- old town
h3=df[df['Neighborhood']== 'OldTown']

In [ ]:
h3.to_sql('Preference3',engine, index=False)

In [ ]:
mycursor.execute("select * from Preference3")
for i in mycursor:
    print(i)

## Task 4: Houses with 3+ bedroom, a basement and a cement exterior are popular among most customers. Write a query to fetch these rows and push them into a new sql table.

In [ ]:
# exterior1st-cemntbd
# bsmtcond- ta
# BedroomAbvGr- 3

In [ ]:
h4=df[(df['BedroomAbvGr']==3) &(df['Exterior1st']=='CemntBd')&(df['BsmtCond']== 'TA')]
h4

In [ ]:
df.columns

In [ ]:
h4.to_sql('Preference4',engine, index=False)

## Task 5: Most families own two cars and prefer a garage with at least 500 square feet. Write a query to fetch these rows and push them into a new table in SQL.

In [ ]:
# GarageArea

In [ ]:
h5=df[df['GarageArea'] >= 500]
h5

In [ ]:
h5.to_sql('Preference5', engine ,index=False)

In [ ]:
mycursor.execute("select * from Preference5")

In [ ]:
for i in mycursor:
    print(i)