# Task 1: Display the basic information about the dataset, which includes column names, count of non null records, and data tupe of the columns. Also display the count of missing values of each columns.

In [1]:
import matplotlib.pyplot as plt           
from tabulate import tabulate               
import matplotlib as mat                   
import seaborn as sns                      
import pandas as pd                         
import numpy as np

In [2]:
df=pd.read_csv('DS1_C5_S1_EmployeeAttrition_Data_Practice.csv')
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,...,OverTime,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.0,Yes,Travel_Rarely,Sales,1,Life Sciences,1,2,Female,94,...,Yes,3,1,8,0,1,6,4,0,5
1,49.0,No,Travel_Frequently,Research & Development,8,Life Sciences,2,3,Male,61,...,No,4,4,10,3,3,10,7,1,7
2,37.0,Yes,Travel_Rarely,Research & Development,2,Other,4,4,Male,92,...,Yes,3,2,7,3,3,0,0,0,0
3,33.0,No,Travel_Frequently,Research & Development,3,Life Sciences,5,4,Female,56,...,Yes,3,3,8,3,3,8,7,3,0
4,27.0,No,Travel_Rarely,Research & Development,2,Medical,7,1,Male,40,...,No,3,4,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36.0,No,NaN,Research & Development,23,Medical,2061,3,Male,41,...,No,3,3,17,3,3,5,2,0,3
1466,39.0,No,Travel_Rarely,Research & Development,6,Medical,2062,4,Male,42,...,No,3,1,9,5,3,7,7,1,7
1467,27.0,No,Travel_Rarely,Research & Development,4,Life Sciences,2064,2,Male,87,...,Yes,4,2,6,0,3,6,2,0,3
1468,49.0,No,Travel_Frequently,Sales,2,Medical,2065,4,Male,63,...,No,3,4,17,3,2,9,6,0,8
1469,34.0,No,Travel_Rarely,Research & Development,8,Medical,2068,2,Male,82,...,No,3,1,6,3,4,4,3,1,2

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'EducationField', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [4]:
a=df.isnull().sum()
a

Age                         24
Attrition                    0
BusinessTravel              30
Department                   4
DistanceFromHome             0
EducationField              12
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                      45
HourlyRate                   0
JobInvolvement               0
JobRole                     10
JobSatisfaction              0
MaritalStatus               56
MonthlyIncome                0
NumCompaniesWorked           0
Over18                      54
OverTime                     0
PerformanceRating            0
RelationshipSatisfaction     0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager         0
dtype: int64

In [5]:
a[a==0].count()

19

In [ ]:
df.dtypes

Age                         float64
Attrition                    object
BusinessTravel               object
Department                   object
DistanceFromHome              int64
EducationField               object
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome                 int64
NumCompaniesWorked            int64
Over18                       object
OverTime                     object
PerformanceRating             int64
RelationshipSatisfaction      int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager          int64
dtype: object

In [ ]:
a[a>0]

# Task 2: Define a function that identifies the data type of columns as categorical or numerical. Separate the names of categorical columns and numerical columns and save them in two different lists.

In [ ]:
def sep_data(df):
    categorical=[]
    numerical=[]
    for i in df.columns:
        if df[i].nunique() > 5:
            numerical.append(i)
        else:
            categorical.append(i)
    return categorical,numerical
categorical,numerical = sep_data(df)

In [ ]:
categorical

In [ ]:
numerical

# Task 3: Perform discriptive analysis of each categorical column (identified in Task 2) by defining a function to print the following information.

In [ ]:
def col_info(i):
    if df[i].isnull().sum() > 0:
        mode=df[i].mode()[0]
        df[i].fillna(mode,inplace=True)
        
    print(f'The number of unique values in {i} is:{df[i].nunique()}')
    print(f'The mode of {i} is :{df[i].mode()[0]}')
    print(f'The missing values of {i} are :{df[i].isnull().sum()}')

In [ ]:
col_info('Attrition')

In [ ]:
col_info('Department')

# Task 4: Perform descriptive analysis on categorical columns with the help of univariate graph charts as mentioned below.

In [ ]:
col_info('Attrition')

In [ ]:
fig, ax = plt.subplots(1,2, figsize = (10, 5))
ax[0].set_title("Count of Attrition")                 
percentage = df["Attrition"].value_counts()        
labels = list(df["Attrition"].value_counts().index) 

sns.countplot(x = df["Attrition"], ax = ax[0])
plt.pie(percentage,labels = labels, autopct= "%0.2f%%")

plt.show()

## Interpretation: The above visual shows that more than 83% of the customers prefers attrition.

In [ ]:
col_info('BusinessTravel')

In [ ]:
fig, ax = plt.subplots(1,2, figsize = (10, 5))
ax[0].set_title("Count of Business travel customers")                 
percentage = df["BusinessTravel"].value_counts()        
labels = list(df["BusinessTravel"].value_counts().index) 

sns.countplot(x = df["BusinessTravel"], ax = ax[0])
plt.pie(percentage,labels = labels, autopct= "%0.2f%%")

plt.show()

## Interpretation: The above visual shows that the majority of employees travel rarely and approximately 10% of employees do not travel at all.

In [ ]:
col_info('Department')

In [ ]:
fig, ax =plt.subplots(1,2, figsize=(12,5))
ax[0].set_title("Count of employees in each department")
percentage=df['Department'].value_counts()
labels=list(df['Department'].value_counts().index)

sns.countplot(x=df['Department'],ax=ax[0])
ax[0].set_xticklabels(ax[0].get_xticklabels(), rotation = 40 , ha = "right")
plt.pie(percentage,labels=labels,autopct= "%0.2f%%",explode=[0.1, 0.2, 0.3])

plt.show()

## Interpretation:  The above visual shows that approximately 65% of employees belong to research and development department and only 4 % in HR department and rest of them belong to sales department.

In [ ]:
col_info('EducationField')

In [ ]:
fig,ax=plt.subplots(1,2,figsize=(12,6))
ax[0].set_title("Count of employees in education fields")
percentage=df['EducationField'].value_counts()
l=list(df['EducationField'].value_counts().index)

sns.countplot(x=df['EducationField'],ax=ax[0])
ax[0].set_xticklabels(ax[0].get_xticklabels(),rotation=40,ha="right")
plt.pie(percentage,labels=l,autopct= "%0.2f%%",explode=[0.01,0.03,0.05,0.07,0.09,0.2])
plt.show()

## Interpretation: The above visual shows that approximately 41% of employees belong from life science stream and 31% from medicals whereas there are the least number of employees belong from human resourses.

In [ ]:
col_info('EnvironmentSatisfaction')

In [ ]:
def bar_percentage(ax, count: "number of rows in data "):
    for bar in ax.patches:                                           
        percentage = f"{round((bar.get_height() / count) *100, 2)}%"  
                                                                            
        x = bar.get_x() + bar.get_width() /2                          
        y = bar.get_height()                                         
        ax.annotate(percentage, (x, y), va = "bottom", ha = "center") 
                                                                      
                                                                     
    plt.show()

In [ ]:

fig, ax = plt.subplots(figsize  = (10 , 6))
ax.set_title("Count of employees as per environment satisfaction")
ax = sns.countplot(x = df["EnvironmentSatisfaction"])
bar_percentage(ax, len(df))

## Interpretation: The above visual shows that approximately 60 % of the employees has an environment satisfaction of 3 and 4 whereas rest has 1 and 2.

In [ ]:
col_info('Gender')

In [ ]:

fig, ax = plt.subplots(figsize  = (10 , 6))
ax.set_title("Count of employees as per environment satisfaction")
ax = sns.countplot(x = df["Gender"])
bar_percentage(ax, len(df))

## Interpretation: The above visual shows that the male and female ration is 3:2.

In [ ]:
col_info('MaritalStatus')

In [ ]:
fig, ax = plt.subplots(figsize  = (10 , 6))
ax.set_title("Count of employees as per environment satisfaction")
ax = sns.countplot(x = df["MaritalStatus"])
bar_percentage(ax, len(df))

## Interpretation : The above visual shows that  approximately 30% of employees are still single and 48% married.

In [ ]:
col_info('OverTime')

In [ ]:
plt.title("OverTime Pie Chart")
percentage=df['OverTime'].value_counts()
l=list(df['OverTime'].value_counts().index)
plt.pie(percentage, labels=l,autopct="%0.2f%%")
plt.show()

## Interpretation: The above visual shows that approximately only 28% of employees are doing overtime.

In [ ]:
col_info('PerformanceRating')

In [ ]:
plt.title("Performance Rating Pie chart")
percentage=df['PerformanceRating'].value_counts()
l=list(df['PerformanceRating'].value_counts().index)
plt.pie(percentage, labels=l,autopct="%0.2f%%")
plt.show()

## Interpretation:  The above visual shows that approximately only 15 % of employees rated 4 and rest of them rated 3.

In [ ]:
col_info('WorkLifeBalance')

In [ ]:
plt.title("Work life balance pie chart")
percentage=df['WorkLifeBalance'].value_counts()
l=list(df['WorkLifeBalance'].value_counts().index)
plt.pie(percentage, labels=l,autopct="%0.2f%%",explode=[0.01,0.04,0.07,0.09])
plt.show()

## Interpretation: The above visual shows that apprximately 10% of employees are having best work life balance and most of the employees have rated 3 for work life balance.

In [ ]:
col_info('JobInvolvement')

In [ ]:
plt.title("Job Involvement pie chart")
p=df['JobInvolvement'].value_counts()
l=list(df['JobInvolvement'].value_counts().index)
plt.pie(percentage,labels=l,autopct="%0.2f%%",explode=[0.01,0.05,0.1,0.17])
plt.show()

## Interpretation: The above visual shows that approximately only 10% of the employees are experiencing best job involvement.

# Task 5: Perform descriptive analysis of each numerical column by defining a function to print the following information.

In [ ]:
def num_info(i):
    if df[i].isnull().sum() > 0:
        mode=df[i].mode()[0]
        df[i].fillna(mode,inplace=True)
        
    print(f'The number of unique values in {i} is:{df[i].nunique()}')
    print(f'The mean of values in {i} is : {df[i].mean()}')
    print(f'The median of the values in {i} is : {df[i].median()}')
    
    print(f'The skewness of {i} is : {df[i].skew()}')
    print(f'The missing values of {i} are :{df[i].isnull().sum()}')

In [ ]:
num_info('Age')

## Task 6:Perform descriptive analysis with the help of univariate graph/charts for the following numerical columns.

In [ ]:
num_info('Age')

In [ ]:
fig, ax = plt.subplots(1, 2, figsize= (20, 7))
ax[0].set_title("Box plot")
ax[1].set_title("Histogram")
sns.histplot(x = df["Age"], ax =ax[1], color = "orange")
sns.boxplot(x = df["Age"], ax = ax[0], color = "lightblue")
plt.show()

## Interpretation:  The above visual shows that most of the employees are aged between 30 to 40 and less than 25 employees are around 55 years old.

In [ ]:
num_info('HourlyRate')

In [ ]:
fig, ax = plt.subplots(1, 2, figsize= (20, 7))
ax[0].set_title("Box plot")
ax[1].set_title("Histogram")
sns.histplot(x = df['HourlyRate'], ax =ax[1], color = "orange") 
sns.boxplot(x = df['HourlyRate'], ax = ax[0], color = "yellow")
plt.show()

## Interpretation: The above visual shows that more than 120 employees have an hourly rate of 90 to 100 and approximately 100 employees have an hourly rate of 65.

In [ ]:
num_info('MonthlyIncome')

In [ ]:
fig, ax = plt.subplots(1, 2, figsize= (20, 7))
ax[0].set_title("Box plot")
ax[1].set_title("Histogram")
sns.histplot(x = df['MonthlyIncome'], ax =ax[1], color = "orange") 
sns.boxplot(x = df['MonthlyIncome'], ax = ax[0], color = "lightgreen")
plt.show()

## Interpretation: The above visual shows that there are multiple outliers in the data as a result more than 300 employees have a salary of 2500.